<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Two</title>
    <link rel="stylesheet" href='/static/core-style.css' />
</head>
<html>
    <body>
        {% include "top_bar.html" %}
        <h3>
            ECE1779 Assignment Two   
        </h3>
        <h4>
            Memcache Manager Application
        </h4>
        <img src="https://static.vecteezy.com/system/resources/previews/001/100/153/original/cloud-computing-technology-background-vector.jpg" class="fp" alt="CloudCompImg" width="500" height="300">
        <h5>Ruchita Bhadre<br>Sneha Kiron</h5>
    <body>    
</html>
